@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:200");
html, body {
  height: auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  display: block;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a {
  outline: none;
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

input, textarea, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  border: none;
  border-radius: 0;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

body {
  font-family: "Microsoft YaHei", "微軟正黑體", Arial, Helvetica, sans-serif, "STHeiti Light", "儷黑 Pro", "LiHei Pro", "新細明體";
  font-size: 15px;
  font-size: 125%;
  color: #555;
}

input, textarea, select {
  font-family: "Microsoft YaHei", "微軟正黑體", Arial, Helvetica, sans-serif, "STHeiti Light", "儷黑 Pro", "LiHei Pro", "新細明體";
  color: #555;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-box-area {
  width: 100%;
  margin: 0 0 5px;
  text-align: left;
}
.input-box-area label {
  font-size: 86%;
  color: #f9b601;
  margin: 0 0 5px;
  display: inline-block;
}
.input-box-area p {
  color: #fff;
  line-height: 40px;
  display: block;
}

.input-box {
  position: relative;
}
.input-box label.error {
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0;
  background: #e53b57;
  position: absolute;
  top: 50%;
  right: 3px;
  z-index: 2;
  transform: translateY(-50%);
}

.input-sty {
  font-size: 100%;
  color: #2f6dae;
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #2f6dae;
  border-radius: 3px;
  background: #fff;
  box-sizing: border-box;
}
.input-sty::placeholder {
  color: rgba(153, 153, 153, 0.8);
}

.label-item-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.label-item-wrap label.error {
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0 0 0 10px;
  background: #e53b57;
}

.input-tit {
  font-size: 86%;
  color: #f9b601;
  margin: 0 0 5px;
  display: inline-block;
}

.label-item {
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.label-item span {
  font-size: 86%;
  margin: 0 0 0 5px;
}

.radio-box {
  width: 14px;
  height: 14px;
  padding: 2px 0 0 2px;
  border: 1px solid #009aff;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

input[type=radio]:checked + .radio-box::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #009aff;
  display: block;
}

input[type=radio] {
  opacity: 0;
}

.check-box {
  width: 13px;
  height: 13px;
  border: 2px solid #009aff;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked + .check-box::after {
  content: "\f00c";
  font-size: 15px;
  color: #009aff;
  transform: translateY(-1px);
  display: block;
}

.input-sel {
  font-size: 100%;
  color: #f9b601;
  width: 100%;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #f9b601;
  background: #fff;
  box-sizing: border-box;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background: #329a04;
}
.switch input:checked + .slider:after {
  content: "on";
  right: 35px;
}
.switch input:focus + .slider {
  box-shadow: 0 0 5px #111111;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999999;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 50px;
  padding: 3px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  background: #ffffff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 30px;
  left: 3px;
  bottom: 3px;
}
.slider:after {
  position: absolute;
  content: "off";
  color: #ffffff;
  line-height: 25px;
  padding: 0 0 0 5px;
  right: 15px;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgb(51, 51, 51) inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}

.pasw {
  -webkit-text-security: disc;
}

.btn-area {
  text-align: center;
  margin: 15px 0 0;
}

.btn {
  font-size: 125%;
  color: #fff;
  font-weight: 500;
  width: 100px;
  padding: 5px 10px;
  background: #f9b601;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  opacity: 0.9;
}

.submit-btn {
  position: relative;
}
.submit-btn input {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.sub-filter-btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
.sub-filter-btn input {
  position: absolute;
}
.sub-filter-btn label {
  color: #d89f1f;
  border-radius: 10px;
  padding: 3px 10px;
  display: block;
  cursor: pointer;
  transition: 0.2s;
}
.sub-filter-btn label:hover {
  color: #fff;
}
.sub-filter-btn input[type=radio]:checked + label {
  color: #fff;
  background: #d89f1f;
}

.check-box2 {
  width: 13px;
  height: 13px;
  margin: 0 3px;
  border: 2px solid #d1c0a5;
  border-radius: 2px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked + .check-box2::after {
  content: "\f00c";
  font-size: 15px;
  color: #d1c0a5;
  transition: 0.2s;
}

.check-box-c {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}

input[type=checkbox]:checked + .check-box-c::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
  transition: 0.2s;
  position: absolute;
  top: -2px;
  left: -2px;
}

input[type=radio]:checked + .check-box-c::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
  transition: 0.2s;
  position: absolute;
  top: -2px;
  left: -2px;
}

.ex-inp-wrap {
  margin: 10px 20px;
  border: 1px solid #009aff;
  border-radius: 5px;
}

.ex-tit {
  font-size: 18px;
  color: #fff;
  padding: 5px;
  background: #009aff;
}

.ex-box {
  padding: 5px;
}
.ex-box p {
  margin: 5px 0;
}
.ex-box i {
  color: #009aff;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 30px 80px;
  background: linear-gradient(to bottom right, #ffb3b3, #a8f3ff);
  box-sizing: border-box;
}

section {
  padding: 40px;
}

.wrap {
  background: #fff;
  border: 5px solid #fff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 0;
  box-sizing: border-box;
}
.wrap h2 {
  font-size: 138%;
  color: #fff;
  background: #ff9d9d;
  margin: 0 0 10px;
  padding: 10px 20px;
}
.wrap h3 {
  font-size: 125%;
  color: #2f6dae;
}
.wrap img {
  width: 300px;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 15px 0 0;
}

.main {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.main h2 {
  font-size: 138%;
  color: #2f6dae;
  margin: 0 0 10px;
}
.main h3 {
  font-size: 125%;
  color: #2f6dae;
}

.date-box {
  font-size: 110%;
  margin: 0 0 20px;
}

.data-area {
  width: 100%;
  min-width: 800px;
  margin: 0 auto 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.data-area .input-box {
  width: 25%;
}
.data-area div:nth-of-type(1), .data-area div:nth-of-type(2), .data-area div:nth-of-type(3) {
  border-right: 1px solid #ddd;
}

.sel-sty-box {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.sel-sty-box i {
  color: #2f6dae;
  position: absolute;
  top: 50%;
  right: 7px;
  z-index: 1;
  transform: translateY(-50%);
}
.sel-sty-box label.error {
  display: none !important;
}

.sel-sty {
  width: 100%;
  font-size: 100%;
  line-height: 25px;
  padding: 10px 23px 10px 10px;
  border: 1px solid #2f6dae;
  border-radius: 3px;
  background: #fff;
  position: relative;
}

.sel-sty.error {
  color: #d2664f;
  border-color: #d2664f;
}

.list-area {
  width: 600px;
  margin: 0 auto;
}
.list-area .input-box {
  width: 100%;
  margin: 0 0 30px;
  background: #eee;
}
.list-area .select-sty {
  width: 100%;
  padding: 10px 23px 10px 10px;
  border: 1px solid #2f6dae;
  border-radius: 3px;
  background: #fff;
}

.tab-box {
  margin: 0 0 20px;
  text-align: left;
}
.tab-box .add-btn {
  margin: 0 10px 0 0;
}

.staff-group {
  background: #8de4c1;
  padding: 30px 0;
  margin: 0 0 20px;
}

.staff-box {
  width: 600px;
  margin: 0 auto;
}
.staff-box select {
  width: 100%;
  border: none;
}

.tit-box {
  margin: 0 0 10px;
  border-bottom: 1px solid #bbb;
  padding: 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  background: #2f6dae;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
}
.add-btn:hover {
  background: #245486;
}

.cancle-btn {
  background: #999;
}
.cancle-btn:hover {
  background: gray;
}

.btn-area {
  text-align: center;
  margin: 25px 0;
}

.note-txt {
  color: #ff3e3e;
  text-align: center;
  margin: 0 0 20px;
}

.qrcode-box {
  width: 300px;
  margin: 0 auto;
}
.qrcode-box img {
  margin: 0 auto;
}

.list {
  width: 100%;
  margin: 0 0 20px 0;
  color: #555;
}
.list li.title {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.list li.title:hover {
  background: none;
}
.list li {
  width: 100%;
  border-bottom: 1px dotted #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.list li:hover {
  background: #fff;
}
.list li:nth-child(odd) {
  background: #f5f5f5;
}
.list li:nth-child(odd) .tit {
  background: #0d4680;
}
.list img {
  width: 100%;
  display: block;
}
.list .input-sty {
  font-size: 100%;
  line-height: 25px;
  height: 48px;
  text-align: center;
}
.list .sel-sty-box {
  width: 100%;
  margin: 0 auto;
}
.list .sel-sty {
  height: 48px;
}

.title i {
  cursor: pointer;
}
.title i:hover {
  color: #90d2e0;
}
.title i.act {
  color: #90d2e0;
}

.list-tit {
  margin: 0;
  background: none;
}
.list-tit li:nth-child(odd) {
  background: none;
}

.box-name, .box-size, .box-num, .box-opera {
  padding: 10px 1%;
  box-sizing: border-box;
}

.box-name {
  width: 40%;
}

.box-size {
  width: 20%;
}

.box-num {
  width: 30%;
  position: relative;
}
.box-num label.error {
  color: #fff;
  padding: 5px 8px;
  border-radius: 2px;
  background: #d2664f;
  position: absolute;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
}
.box-num input.error {
  border: 1px solid #d2664f;
}

.box-opera {
  text-align: center;
  width: 10%;
}
.box-opera i {
  font-size: 120%;
  cursor: pointer;
  transition: 0.2s;
}
.box-opera i:hover {
  color: #2f6dae;
}

.list2 li, .list2 a {
  color: #555;
  width: 100%;
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  word-break: break-all;
}
.list2 li > div, .list2 a > div {
  padding: 10px 5px;
  box-sizing: border-box;
  text-align: left;
}
.list2 .tit {
  padding: 5px;
  background: #2f6dae;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  margin: 0 0 10px;
  display: none;
}
.list2 span {
  line-height: 24px;
  display: block;
  word-break: break-all;
}

.order-list li > div:nth-child(1), .order-list a > div:nth-child(1) {
  width: 40%;
}
.order-list li > div:nth-child(2), .order-list a > div:nth-child(2) {
  width: 40%;
}
.order-list li > div:nth-child(3), .order-list a > div:nth-child(3) {
  width: 20%;
  text-align: center;
}
.order-list a {
  transition: 0.2s;
}
.order-list a:hover {
  background: rgba(144, 210, 224, 0.3);
}

.sum-list-box {
  margin: 0 0 10px;
  padding: 10px 0 0;
}

.tit-sup-box {
  color: #2f6dae;
  text-align: left;
  margin: 0 0 10px;
}
.tit-sup-box h4 {
  font-weight: bold;
}

.sum-list {
  margin: 0;
}
.sum-list li > div {
  width: 33.3333333333%;
  text-align: center;
  word-break: break-all;
  padding: 10px;
  box-sizing: border-box;
}

.group-box-70, .group-box-83, .group-box-85, .group-box-100, .group-box-10 {
  padding: 10px 0;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.group-box-10 {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-15 {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-70 {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-83 {
  width: 83%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-85 {
  width: 85%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-100 {
  width: 100%;
}

.box-5 {
  width: 5%;
}

.box-8 {
  width: 8%;
}

.box-10 {
  width: 10%;
}

.box-12 {
  width: 12%;
}

.box-14 {
  width: 14%;
}

.box-15 {
  width: 15%;
}

.box-16 {
  width: 16%;
}

.box-20 {
  width: 20%;
}

.box-25 {
  width: 25%;
}

.box-30 {
  width: 30%;
}

.box-35 {
  width: 35%;
}

.box-40 {
  width: 40%;
}

.box-45 {
  width: 45%;
}

.box-50 {
  width: 50%;
}

.box-55 {
  width: 55%;
}

.box-60 {
  width: 60%;
}

.box-65 {
  width: 65%;
}

.box-70 {
  width: 70%;
}

.box-75 {
  width: 75%;
}

.box-80 {
  width: 80%;
}

.box-85 {
  width: 85%;
}

.box-90 {
  width: 90%;
}

.box-95 {
  width: 95%;
}

.box-5, .box-8, .box-10, .box-12, .box-14, .box-15, .box-16, .box-20, .box-25, .box-30, .box-35, .box-40, .box-45, .box-50, .box-55, .box-60, .box-65, .box-70, .box-75, .box-80, .box-85, .box-90, .box-95 {
  word-wrap: break-word;
  padding: 0 0.5%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.pad-u-d-10 {
  padding: 10px 0;
}

.opera {
  text-align: center;
}
.opera i {
  font-size: 15px;
  color: #999;
  margin: 0 8px 0 0;
}
.opera i:hover, .opera i.act {
  color: #2f6dae;
}

.input-box {
  padding: 10px 20px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.input-box label {
  font-size: 100%;
  color: #999;
  text-align: center;
  margin: 0 0 5px 0;
  display: block;
}
.input-box p {
  font-size: 130%;
  color: #2f6dae;
  text-align: center;
  font-weight: bold;
}

.test-wrap {
  width: 300px;
  height: 200px;
  margin: 10px;
  background: #ff6c6c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.test-box {
  width: 45%;
  border-radius: 10px;
  overflow: hidden;
}
.test-box img {
  width: 100%;
}
.test-box .t-img {
  width: 80%;
}

.radio-wrap {
  display: inline-block;
  vertical-align: middle;
}

.border-grad {
  border: 2px solid;
  border-image: linear-gradient(145deg, #775729 10%, #eee33d 20%, #775729 30%) 10;
  padding: 50px;
  margin: 10px;
  display: inline-block;
  background: rgba(51, 28, 18, 0.35);
}
.border-grad p {
  background: -webkit-linear-gradient(top, #99432b, #ffaf2e 40%, #fcff96 48%, #fcffff, #fcff96 52%, #ffaf2e 60%, #99432b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
}

.loading {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading > div i {
  font-size: 40px;
  color: #7bcbff;
  margin: 0 0 5px;
}
.loading span {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  body {
    padding: 30px 20px;
  }
  .data-area {
    min-width: 100%;
  }
  .input-box label {
    font-size: 90%;
  }
  .input-box p {
    font-size: 110%;
  }
}
@media screen and (max-width: 700px) {
  .list-area {
    width: 100%;
  }
  .staff-group {
    padding: 20px;
  }
  .staff-group .staff-box {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  body {
    padding: 10px;
  }
  .wrap {
    text-align: center;
  }
  .wrap h2 {
    font-size: 120%;
  }
  .wrap h3 {
    font-size: 110%;
  }
  .wrap img {
    width: 100%;
    margin: 0 0 5px;
  }
  .data-area, .list-area {
    width: 100%;
  }
  .data-area .input-box {
    width: 50%;
  }
  .data-area div:nth-of-type(1), .data-area div:nth-of-type(2) {
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .data-area div:nth-of-type(3) {
    border: none;
  }
  .tit-box {
    border: none;
    margin: 0;
  }
  .tit-box .add-btn {
    margin: 5px 0 0;
  }
  .list-tit {
    display: none;
  }
  .list {
    border-top: 3px solid #2f6dae;
  }
  .list li {
    border-bottom: none;
    border-radius: 3px;
  }
  .list li:last-child {
    margin: 0;
  }
  .list li:hover {
    background: rgba(144, 210, 224, 0.2);
  }
  .box-name, .box-size, .box-num, .box-opera {
    padding: 0 1%;
  }
  .box-name {
    width: 100%;
    margin: 0 0 8px;
    border-bottom: 1px dotted #eee;
  }
  .box-size {
    width: calc((100% - 55px) / 2);
  }
  .box-num {
    width: calc((100% - 55px) / 2);
  }
  .box-opera {
    width: 55px;
  }
  .list li {
    padding: 10px 0;
  }
  .add-btn {
    width: 100%;
  }
  .note-txt {
    font-size: 80%;
  }
  .tab-box {
    text-align: center;
  }
  .tab-box .add-btn {
    margin: 0;
  }
  .tab-box .add-btn:first-child {
    margin: 0 0 10px;
  }
  .list-tit.order-list {
    display: none;
  }
  .list2 li {
    padding: 0;
    margin: 0 0 10px;
  }
  .list2 .tit {
    display: block;
  }
  .list2 span {
    padding: 0 5px;
  }
  .order-list a {
    align-items: flex-start;
  }
  .order-list a > div:nth-child(1) {
    width: 100%;
  }
  .order-list a > div:nth-child(2) {
    width: 50%;
  }
  .order-list a > div:nth-child(3) {
    width: 50%;
    text-align: left;
  }
  .sum-list li {
    padding: 0;
  }
  .sum-list li > div {
    padding: 10px 5px;
  }
}
@media screen and (max-width: 480px) {
  .list-tit.sum-list {
    display: block;
  }
  .sum-list {
    border-top: 0;
  }
  .sum-list li {
    border-bottom: 1px dotted #ccc;
  }
}
