@media screen and (max-width:1024px)
    body
        padding: 30px 20px
    // .wrap
    //     margin: 30px 20px
    .data-area
        min-width: 100%
    .input-box
        label
            font-size: 90%
        p
            font-size: 110%
@media screen and (max-width:700px)
    .list-area
        width: 100%
    .staff-group
        padding: 20px
        .staff-box
            width: 100%

@media screen and (max-width:600px)
    body
        padding: 10px
    .wrap
        text-align: center
        // margin: 10px
        h2
            font-size: 120%
        h3
            font-size: 110%
        img
            width: 100%
            margin: 0 0 5px
    // .staff-group
    //     padding: 20px
    //     .staff-box
    //         width: 100%
    .data-area,.list-area
        width: 100%
    .data-area
        .input-box
            width: 50%
        div:nth-of-type(1),div:nth-of-type(2)
            border: none
            border-bottom: 1px solid #ddd
        div:nth-of-type(3)
            border: none
    .tit-box
        border: none
        margin: 0
        .add-btn
            margin: 5px 0 0

    .list-tit
        display: none
    .list
        border-top: 3px solid $md-color
        li
            // margin: 0 0 10px
            border-bottom: none
            border-radius: 3px
            &:last-child
                margin: 0
            &:hover
                background: rgba($m-color,0.2)

    .box-name, .box-size, .box-num, .box-opera
        padding: 0 1%
    // .box-name
    //     margin: 0 0 8px

    .box-name
        width: 100%
        margin: 0 0 8px
        border-bottom: 1px dotted #eee
    .box-size
        width: calc((100% - 55px)/2)
    .box-num
        width: calc((100% - 55px)/2)
    .box-opera
        width: 55px

    .list
        li
            padding: 10px 0
    .add-btn
        width: 100%
    .note-txt
        font-size: 80%

    .tab-box
        text-align: center
        .add-btn
            margin: 0
            &:first-child
                margin: 0 0 10px

    //貨號單列表
    .list-tit.order-list
        display: none
    .list2
        li
            padding: 0
            margin: 0 0 10px
        .tit
            display: block
        span
            padding: 0 5px

    .order-list
        a
            align-items: flex-start
            >div
                &:nth-child(1)
                    width: 100%
                &:nth-child(2)
                    width: 50%
                &:nth-child(3)
                    width: 50%
                    text-align: left
                // &:nth-child(4)
                //     width: 50%
    
    // 當日填寫紀錄列表
    .sum-list
        li
            padding: 0
            >div
                padding: 10px 5px

@media screen and (max-width:480px)
    // .list-tit
    //     display: none
    // .list
    //     border-top: 3px solid $md-color
    //     li
    //         // margin: 0 0 10px
    //         border-bottom: none
    //         border-radius: 3px
    //         &:last-child
    //             margin: 0
    //         &:hover
    //             background: rgba($m-color,0.2)
    // .box-name
    //     width: 100%
    //     border-bottom: 1px dotted #eee
    // .box-size
    //     width: calc((100% - 55px)/2)
    // .box-num
    //     width: calc((100% - 55px)/2)
    // .box-opera
    //     width: 55px

    // 當日填寫紀錄列表
    .list-tit.sum-list
        display: block
    .sum-list
        border-top: 0
    .sum-list
        li
            border-bottom: 1px dotted #ccc


@media screen and (max-width:414px)
    