@import reset
//全站a ul li h1-h6 img 等基本設定
@import color
//字色 主色系與輔助色 物件色系
@import mixins
//浮動 btn 圓角 ht ct 等設定
@import global
//全域樣式，設定全站樣式統一的地方(文字顏色字型大小和input及按鈕)
@import input_sty
//input 樣式
// 字級換算對照表(思源黑體)
// 13px = font-size: 80%
// 14px = font-size: 86%
// 15px = font-size: 93%
// 16px = font-size: 100%
// 17px = font-size: 105%;
// 18px = font-size: 110%;
// 20px = 125%
// 22px = 138%
// 24px = 150%
// 25px = 157%
// 26px = 163%
// 27px = 169%
// 28px = 175%
// 30px = 188%
// 36px = 225%
// 60px = 375%
// 72px = 450%
html
    height: 100%
body
    height: 100%
    padding: 30px 80px
    background: linear-gradient(to bottom right, #ffb3b3, #a8f3ff)
    box-sizing: border-box
section
    padding: 40px
    
.wrap
    background: #fff
    border: 5px solid #fff
    border-radius: 30px
    overflow: hidden
    box-shadow: 0 0 20px rgba(0,0,0,0.3)
    padding: 0
    // margin: 30px 80px
    box-sizing: border-box
    h2
        font-size: 138%
        color: #fff
        background: #ff9d9d
        margin: 0 0 10px
        padding: 10px 20px
    h3
        font-size: 125%
        color: $md-color
    img
        width: 300px
        display: inline-block
        vertical-align: bottom
        margin: 0 15px 0 0




.main
    text-align: center
    padding: 20px
    box-sizing: border-box
    h2
        font-size: 138%
        color: $md-color
        margin: 0 0 10px
    h3
        font-size: 125%
        color: $md-color

.date-box
    font-size: 110%
    margin: 0 0 20px

.data-area
    width: 100%
    min-width: 800px
    margin: 0 auto 10px
    +flex($sb,$str)
    .input-box
        width: 25%
    div:nth-of-type(1),div:nth-of-type(2),div:nth-of-type(3)
        border-right: 1px solid #ddd
            

.sel-sty-box
    width: 100%
    margin: 0 auto
    position: relative
    i
        color: $md-color
        +position(50%,7px,null,null,1)
        transform: translateY(-50%)
    label.error
        display: none !important
.sel-sty
    width: 100%
    font-size: 100%
    line-height: 25px
    padding: 10px 23px 10px 10px
    border: 1px solid $md-color
    border-radius: 3px
    background: #fff
    position: relative
.sel-sty.error
    color: #d2664f
    border-color: #d2664f

// .sel-sty.error + label + i
//     color: #d2664f
    

.list-area
    width: 600px
    margin: 0 auto
    .input-box
        width: 100%
        margin: 0 0 30px
        background: #eee
    .select-sty
        width: 100%
        padding: 10px 23px 10px 10px
        border: 1px solid #2f6dae
        border-radius: 3px
        background: #fff
.tab-box
    margin: 0 0 20px
    text-align: left
    .add-btn
        margin: 0 10px 0 0
.staff-group
    background: #8de4c1
    padding: 30px 0
    margin: 0 0 20px
.staff-box
    width: 600px
    margin: 0 auto
    select
        width: 100%
        border: none


.tit-box
    margin: 0 0 10px
    border-bottom: 1px solid #bbb
    padding: 0 0 10px
    +flex($sb,$c)

.add-btn
    color: #fff
    padding: 10px 15px
    border-radius: 3px
    background: $md-color
    display: inline-block
    box-sizing: border-box
    +tcursor
    &:hover
        background: darken($md-color,10%)
.cancle-btn
    background: #999
    &:hover
        background: darken(#999,10%)

.btn-area
    text-align: center
    margin: 25px 0

.note-txt
    color: #ff3e3e
    text-align: center
    margin: 0 0 20px

.qrcode-box
    width: 300px
    margin: 0 auto
    img
        margin: 0 auto

//列表組件
.list
    width: 100%
    margin: 0 0 20px 0
    color: #555
    li.title
        font-weight: bold
        border-bottom: 1px solid #ccc
        &:hover
            background: none
    li
        width: 100%
        border-bottom: 1px dotted #ccc
        +flex($sb,$c)
        &:hover
            background: #fff
    li:nth-child(odd)
        .tit
            background: #0d4680
        background: #f5f5f5
    img
        width: 100%
        display: block
    .input-sty
        font-size: 100%
        line-height: 25px
        height: 48px
        text-align: center
    .sel-sty-box
        width: 100%
        margin: 0 auto
    .sel-sty
        height: 48px
        
.title
    i
        cursor: pointer
        &:hover
            color: $m-color
    i.act
        color: $m-color
.list-tit
    margin: 0
    background: none
    li:nth-child(odd)
        background: none

//add
.box-name,.box-size,.box-num,.box-opera
    padding: 10px 1%
    box-sizing: border-box
.box-name
    width: 40%
.box-size
    width: 20%
.box-num
    width: 30%
    position: relative
    label.error
        color: #fff
        padding: 5px 8px
        border-radius: 2px
        background: #d2664f
        position: absolute
        top: 50%
        right: 11px
        transform: translateY(-50%)
    input.error
        border: 1px solid #d2664f
.box-opera
    text-align: center
    width: 10%
    i
        font-size: 120%
        +tcursor
        &:hover
            color: $md-color

//貨號單列表
.list2
    li,a
        color: #555
        width: 100%
        display: block
        +flex($flex-s,$c)
        word-break: break-all
        >div
            padding: 10px 5px
            box-sizing: border-box
            text-align: left
    .tit
        padding: 5px
        background: $md-color
        border-radius: 2px
        color: #fff
        font-weight: bold
        margin: 0 0 10px
        display: none
    span
        line-height: 24px
        display: block
        word-break: break-all

.order-list
    li,a
        >div
            &:nth-child(1)
                width: 40%
            &:nth-child(2)
                width: 40%
            &:nth-child(3)
                width: 20%
                text-align: center
            // &:nth-child(4)
            //     width: 25%
    a
        transition: .2s
        &:hover
            background: rgba($m-color,0.3)

// 當日填寫紀錄列表
.sum-list-box
    margin: 0 0 10px
    padding: 10px 0 0
.tit-sup-box
    color: $md-color
    text-align: left
    margin: 0 0 10px
    h4
        font-weight: bold
.sum-list
    margin: 0
    li
        >div
            width: calc(100%/3)
            text-align: center
            word-break: break-all
            padding: 10px
            box-sizing: border-box
            // &:nth-child(1)
            //     text-align: left

//輸入框組件
//Group有連結才會用這個包起來的群組
.group-box-70,.group-box-83,.group-box-85,.group-box-100,.group-box-10
    padding: 10px 0
    +dvm
    overflow: hidden
.group-box-10
    width: 10%
    +dvm
.group-box-15
    width: 15%
    +dvm
.group-box-70
    width: 70%
    +dvm
.group-box-83
    width: 83%
    +dvm
.group-box-85
    width: 85%
    +dvm
.group-box-100
    width: 100%

//一般群組
.box-5
    width: 5%
.box-8
    width: 8%
.box-10
    width: 10%
.box-12
    width: 12%
.box-14
    width: 14%
.box-15
    width: 15%
.box-16
    width: 16%
.box-20
    width: 20%
.box-25
    width: 25%
.box-30
    width: 30%
.box-35
    width: 35%
.box-40
    width: 40%
.box-45
    width: 45%
.box-50
    width: 50%
.box-55
    width: 55%
.box-60
    width: 60%
.box-65
    width: 65%
.box-70
    width: 70%
.box-75
    width: 75%
.box-80
    width: 80%
.box-85
    width: 85%
.box-90
    width: 90%
.box-95
    width: 95%
.box-5,.box-8,.box-10,.box-12,.box-14,.box-15,.box-16,.box-20,.box-25,.box-30,.box-35,.box-40,.box-45,.box-50,.box-55,.box-60,.box-65,.box-70,.box-75,.box-80,.box-85,.box-90,.box-95
    word-wrap: break-word
    padding: 0 0.5%
    box-sizing: border-box
    +dvm
//.pad-u-d-10 = padding up & down is 10px
.pad-u-d-10
    padding: 10px 0
.opera
    text-align: center
    i
        font-size: 15px
        color: #999
        margin: 0 8px 0 0
    i:hover,i.act
        color: $md-color

//組件基礎
.input-box
    padding: 10px 20px
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    label
        font-size: 100%
        color: #999
        text-align: center
        margin: 0 0 5px 0
        display: block
    p
        font-size: 130%
        color: $md-color
        text-align: center
        font-weight: bold
    


//======
.test-wrap
    width: 300px
    height: 200px
    margin: 10px
    background: #ff6c6c
    +flex($sa,$c)
    // display: flex
    // flex-wrap: wrap
    // justify-content: space-between
    // align-content: center

.test-box
    width: 45%
    border-radius: 10px
    overflow: hidden
    img
        width: 100%
    .t-img
        width: 80%

.radio-wrap
    +dvm

.border-grad
    +grad-border
    padding: 50px
    margin: 10px
    display: inline-block
    background: rgba(#331c12,0.35)
    p
        +grad-txt

.loading-box
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 10
    background: rgba(#000,0.7)
.loading
    text-align: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    >div i
        font-size: 40px
        color: #7bcbff
        margin: 0 0 5px
    span
        color: #fff

//RWD 手機版css 
@import m_sty