@charset "UTF-8";
/* (@)whitenight.tw by truesun */
html, body {
  height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  display: inline-block;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a {
  color: #555;
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

input, select, textarea {
  outline: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

html, body {
  color: #555;
  font-size: 14px;
  font-family: "PingFang TC", "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Helvetica Neue", "Helvetica", "Arial", "华文细黑", "STHeiti", sans-serif;
}

input, textarea, select {
  font-family: "PingFang TC", "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Helvetica Neue", "Helvetica", "Arial", "华文细黑", "STHeiti", sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=radio], input[type=checkbox] {
  width: 1px;
  height: 1px;
  opacity: 0;
}

input[type=radio]:checked + .radio-box::after {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 30px;
  display: block;
  background: #1781bb;
}

input[type=checkbox]:checked + .check-box::after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  color: #1781bb;
  font-weight: 900;
  font-size: 14px;
  margin: 0 0 0 2px;
  display: block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  transform: translate(0, 0);
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
}

.lg-box {
  box-shadow: 0 0 50px #111;
  border-radius: 5px;
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 100;
}

.lg-tit {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #1781bb;
  padding: 10px 8px;
  border-bottom: 2px solid #11577d;
}

.lg-cont {
  background: #fff;
  padding: 15px;
  overflow: auto;
}
.lg-cont h2 {
  font-size: 18px;
  color: #999;
  padding: 20px 0 10px 0;
  text-shadow: 0 1px 0 #fff;
}
.lg-cont h3 {
  font-size: 16px;
  color: #999;
  padding: 10px 0;
  text-shadow: 0 1px 0 #fff;
}

.lg-bot {
  text-align: center;
  background: #e5e5e5;
  padding: 8px;
  border-top: 1px solid #ccc;
}
.lg-bot .btn {
  margin: 0 5px;
  position: relative;
}
.lg-bot .btn input {
  display: block;
  width: 100%;
  position: absolute;
  margin: 0;
  border: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  direction: ltr;
  cursor: pointer;
  z-index: 2;
}

.lg-mesg-box {
  width: 400px;
  margin: 0 0 0 -200px;
}

.lg-big-box {
  width: 800px;
  margin: 0 0 0 -400px;
}

.lg-add {
  max-height: 300px;
  overflow: y-scroll;
}

.input-sty {
  color: #555;
  font-size: 14px;
  width: 100%;
  background: #eee;
  padding: 10px 10px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  transition: background 0.4s, box-shadow 0.4s;
  vertical-align: middle;
}
.input-sty:focus {
  background: #fff;
  box-shadow: 0 0 3px #ccc;
}

.select-sty {
  color: #555;
  font-size: 14px;
  width: 100%;
  height: 38px;
  background: #eee;
  padding: 0 0 0 10px;
  background: #eee url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  display: inline-block;
  outline: 0;
  transition: background 0.4s, box-shadow 0.4s;
  vertical-align: middle;
}
.select-sty:focus {
  background: #fff url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%;
  box-shadow: 0 0 3px #ccc;
}

.radio-box {
  width: 19px;
  height: 19px;
  padding: 2px;
  border: 2px solid #1781bb;
  border-radius: 30px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px 0 0;
}

.check-box {
  width: 19px;
  height: 19px;
  border: 2px solid #1781bb;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px 0 0;
}

.icon-right {
  position: relative;
}
.icon-right i {
  font-size: 20px;
  position: absolute;
  right: 14px;
  bottom: 11px;
  z-index: 1;
}

.txt-c {
  text-align: center;
}

.txt-r {
  text-align: right;
}

.imp {
  color: #d14d4d;
}

.cle {
  clear: both;
}

.error {
  border: 1px solid #d2664f;
}

.note {
  padding: 0 5px 10px 0;
  color: #999;
}

.check-list {
  margin: 0;
}
.check-list label {
  padding: 6px 10px 6px 3px;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 10px 0 0;
  transition: 0.2s;
}
.check-list label:hover {
  background: #eee;
}
.check-list label.error {
  color: #fff;
  border-radius: 2px;
  background: #d2664f;
  line-height: 16px;
  margin: 0;
  display: inline-block;
}
.check-list span {
  vertical-align: middle;
}

/*Login page*/
.login-page-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/backend_img/pic_mask.png);
}

.login-page-bg {
  width: 100%;
  height: 100%;
  background: #000 url(../img/backend_img/login_bg_default.jpg) no-repeat center 0/cover;
}

.loain-box {
  width: 500px;
  margin: 0 0 0 -250px;
  position: absolute;
  top: 100px;
  left: 50%;
}

.logo {
  width: 160px;
  height: 90px;
  background: url(../img/backend_img/backend_logo.png) no-repeat center center/cover;
  position: absolute;
  top: -50px;
  left: 170px;
  z-index: 1;
}

.login {
  width: 500px;
  text-align: center;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}
.login h1 {
  margin: 35px 15px 0;
  color: #fff;
  font-size: 16px;
}
.login .input-box {
  width: 100%;
  margin: 20px auto;
  position: relative;
  display: block;
}
.login .input-box i {
  font-size: 22px;
  color: #106696;
  position: absolute;
  top: 9px;
  right: 15px;
  z-index: 1;
}
.login label {
  padding: 8px 12px;
  border: none;
  display: block;
  position: absolute;
  top: 3px;
  right: 7px;
  border: 1px solid #d2664f;
  background: #d2664f;
  border-radius: 3px;
}
.login label input[class~=input-sty] {
  font-size: 18px;
  padding: 10px 10px 10px 45px;
  z-index: 2;
}
.login label.error {
  color: #fff;
  margin: 1px 0 0;
}

.login-error-mesg {
  color: #f00;
  padding: 0 25px;
}

.login-footer {
  color: #fff;
  text-align: center;
}

.login-btn-box {
  text-align: center;
  margin: 20px auto;
}

.login-submit-btn {
  font-size: 18px;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  background: #1471a4;
  width: 100%;
  box-shadow: 0 0 3px #90D0F2 inset, 0 0 5px black;
  padding: 12px 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background 0.2s;
}
.login-submit-btn:hover {
  background: #11628e;
}

body {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  overflow: hidden;
  background: url(../img/backend_img/body_bg.png);
}

.main {
  height: 100%;
  padding: 0 20px 0 30px;
  overflow: auto;
  background: #fff url(../img/backend_img/main_bg.png);
}
.main h1 {
  font-size: 24px;
  color: #1781bb;
  padding: 15px 0 20px 0;
  background: url(../img/backend_img/title_line.png) 0 53px repeat-x;
}
.main h2 {
  font-size: 18px;
  color: #999;
  padding: 20px 0 10px 0;
  text-shadow: 0 1px 0 #fff;
}
.main h3 {
  font-size: 16px;
  color: #999;
  padding: 10px 0;
  text-shadow: 0 1px 0 #fff;
}

.side-nav {
  width: 180px;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.side-box {
  width: 180px;
  height: 100%;
}

.btn-side-close {
  color: #fff;
  font-size: 20px;
  width: 26px;
  height: 28px;
  box-sizing: border-box;
  padding: 0 0 0 9px;
  background: #222;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 180px;
  z-index: 1;
}
.btn-side-close:hover p {
  height: 78px;
}
.btn-side-close p {
  color: #fff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: #222;
  position: absolute;
  top: 28px;
  left: 0;
  transition: 0.3s;
}

.btn-side-open {
  color: #fff;
  font-size: 20px;
  width: 26px;
  height: 28px;
  box-sizing: border-box;
  padding: 0 0 0 9px;
  background: #1781bb;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: -40px;
  z-index: 2;
}
.btn-side-open:hover p {
  height: 78px;
}
.btn-side-open p {
  color: #fff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: #1781bb;
  position: absolute;
  top: 28px;
  left: 0;
  transition: 0.3s;
}

.side-logo {
  width: 160px;
  height: 90px;
  margin: 10px auto;
  background: url(../img/backend_img/backend_logo.png) no-repeat center/cover;
}

.side-footer {
  font-size: 12px;
  text-align: center;
  color: #555;
  width: 180px;
  line-height: 45px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.backend-tit {
  text-align: right;
  color: #999;
  font-size: 12px;
  padding: 5px;
}

.user-info {
  text-align: right;
  color: #eee;
  text-shadow: 0 1px 1px #000;
  line-height: 25px;
  margin: 0 0 10px;
}

.user-id {
  padding: 10px 10px 5px 10px;
  border-bottom: 1px solid #000;
}

.change-pwd-box {
  display: inline-block;
}

.change-pwd {
  color: #999;
  padding: 3px 5px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #414141;
  background: #000;
  transition: 0.2s;
}
.change-pwd:hover {
  background: #000;
  color: #ccc;
}

.sign-out-box {
  padding: 10px;
  border-top: 1px solid #333;
}

.sign-out {
  color: #999;
  box-shadow: 0 1px 0 #414141;
  padding: 5px 8px;
  border-radius: 3px;
  background: #0d0d0d;
  transition: 0.2s;
}
.sign-out:hover {
  background: #000;
  color: #ccc;
}

.nav-box {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}

.nav {
  padding: 0;
}
.nav a {
  font-size: 14px;
  color: #999;
  padding: 12px 10px 11px 10px;
  margin: 0;
  display: block;
  transition: background 0.2s;
}
.nav a:hover {
  color: #fff;
  background: #333;
}
.nav a.act {
  color: #fff;
  background: #444;
  text-shadow: 0 0 12px #39B7FC;
}
.nav i {
  margin: 0 3px 0 0;
}

.sub-menu {
  margin: -10px 0 20px 0;
  background: #222627;
  padding: 10px;
  overflow: hidden;
}
.sub-menu li {
  float: left;
  margin: 0 10px 0 0;
}
.sub-menu a {
  color: #fff;
  text-shadow: 0 1px 1px #000;
  padding: 5px 12px;
  display: block;
  transition: 0.2s;
  border-radius: 2px;
  box-shadow: 0 2px 2px #000;
}
.sub-menu a.act, .sub-menu a:hover {
  color: #fff;
  background: #11628e;
}

.sub-page {
  height: 31px;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid #1781bb;
}
.sub-page li {
  height: 30px;
  line-height: 30px;
  padding: 0 14px;
  display: block;
  border-radius: 5px 5px 0 0;
  transition: 0.2s;
  float: left;
  margin: 0 0 0 10px;
  cursor: pointer;
}
.sub-page li:hover {
  background: #eee;
}
.sub-page li.act {
  color: #1781bb;
  border: 1px solid #1781bb;
  border-bottom: 1px solid #F9F9F9;
}
.sub-page li.act:hover {
  background: #F9F9F9;
}

.breadcrumb {
  margin: 10px 0;
  background-color: #ECECEC;
  border-radius: 4px;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb a {
  color: #337ab7;
  text-decoration: none;
  padding: 8px 10px;
  display: inline-block;
  transition: 0.2s;
}
.breadcrumb a:hover {
  background: #ddd;
}
.breadcrumb span {
  padding: 8px 10px;
}
.breadcrumb a.active {
  color: #777;
}
.breadcrumb:focus {
  background: #fff;
  box-shadow: 0 0 3px #ccc;
}

.breadcrumb > li + li:before {
  padding: 0 0;
  color: #ccc;
  content: "/ ";
}

.input-box {
  width: 44%;
  margin: 0 5% 20px 0;
  display: inline-block;
  vertical-align: top;
}
.input-box p {
  font-size: 15px;
}
.input-box label {
  font-size: 16px;
  color: #1781bb;
  font-weight: bold;
  margin: 5px 5px 10px 0;
  display: block;
}
.input-box .check-list label {
  font-weight: normal;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.input-box label.error {
  color: #fff;
  font-weight: normal;
  padding: 5px 8px;
  border-radius: 2px;
  background: #d2664f;
  display: inline-block;
  z-index: 2;
}
.input-box span {
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}
.input-box .total-txt {
  font-size: 16px;
  color: #555;
  display: inline-block;
  vertical-align: middle;
}
.input-box .total-txt span {
  display: inline-block;
  vertical-align: bottom;
}
.input-box .total-txt span.act {
  font-size: 20px;
  margin: 0 3px 0 0;
  color: #1781bb;
}

.input-box-w {
  width: 93.5%;
}

.input-box-100 {
  width: 100%;
  margin: 0 0 20px;
}

.more-info {
  height: 400px;
}

.desc-info {
  height: 150px;
}

.w50 {
  width: 50px;
}

.w100 {
  width: 100px;
}

.w150 {
  width: 150px;
}

.w200 {
  width: 200px;
}

.w250 {
  width: 250px;
}

.table {
  width: 80%;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 0 0 15px 0;
}
.table th {
  background: #eee;
}
.table th, .table td {
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1%;
}

.table-group {
  font-size: 16px;
  width: 95%;
}

/*tag style*/
.tag {
  display: inline-block;
  overflow: hidden;
}
.tag li {
  border: 1px solid #ddd;
  margin: 0 8px 8px 0;
  float: left;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
}
.tag li:hover {
  border: 1px solid #1781bb;
}

.tag-add {
  font-size: 18px;
  color: #fff;
  background: #1781bb;
  line-height: 30px;
  padding: 0 8px;
}
.tag-add:hover {
  background: #11628e;
}

.tag-name {
  line-height: 30px;
  padding: 0 8px;
  float: left;
}

.tag-name-input {
  border: none;
  border-radius: 0;
  float: left;
  display: block;
}
.tag-name-input input.input-sty {
  width: 120px;
  padding: 5px 8px;
  border: none;
}

.tag-del {
  font-size: 18px;
  background: #ddd;
  padding: 0 8px;
  line-height: 30px;
  float: left;
  display: block;
  transition: 0.2s;
}
.tag-del:hover {
  background: #ccc;
}

.tag-creat {
  display: none;
}

.tag-check {
  font-size: 18px;
  color: #fff;
  background: #1781bb;
  padding: 0 15px;
  line-height: 30px;
  float: left;
  display: block;
  transition: 0.2s;
  position: relative;
}
.tag-check:hover {
  background: #11628e;
}
.tag-check input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.tag-lg-box {
  background: #fff;
  box-shadow: 0 0 20px #999;
  border-radius: 5px;
  width: 280px;
  padding: 15px;
  margin: -145px 0 0 -140px;
}
.tag-lg-box .input-sty {
  width: 96%;
  font-size: 20px;
}
.tag-lg-box label.error {
  color: #fff;
  border-radius: 2px;
  background: #d2664f;
  display: inline-block;
  margin: 5px 0 0 0;
}
.tag-lg-box .submit-btn {
  margin: 0;
}

.tag-lg-list {
  width: 680px;
  margin: -350px 0 0 -270px;
}

.btn-area {
  font-size: 16px;
  text-shadow: 0 1px 1px #000;
  letter-spacing: 2px;
  padding: 10px 0;
}
.btn-area input {
  display: block;
  width: 100%;
  position: absolute;
  margin: 0;
  border: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  direction: ltr;
  cursor: pointer;
  z-index: 2;
}

.btn {
  color: #fff !important;
  font-size: 14px;
  display: inline-block;
  position: relative;
  padding: 8px 12px;
  margin: 0 15px 0 0;
  border-radius: 2px;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  transition: 0.2s;
  cursor: pointer;
}

.btn-submit {
  background: #1781bb;
}
.btn-submit:hover {
  background: #11628e;
}

.btn-function {
  background: #d14d4d;
}
.btn-function:hover {
  background: #bb3030;
}

.btn-cancel {
  background: #999;
}
.btn-cancel:hover {
  background: gray;
}

.list {
  width: 100%;
  margin: 0 0 20px 0;
  color: #555;
}
.list li.title {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.list li.title:hover {
  background: none;
}
.list li {
  width: 100%;
  border-bottom: 1px dotted #ccc;
}
.list li:hover {
  background: #fff;
}
.list img {
  width: 100%;
  display: block;
}
.list .input-sty {
  text-align: center;
  padding: 5px;
}

.title i {
  cursor: pointer;
}
.title i:hover {
  color: #1781bb;
}
.title i.act {
  color: #1781bb;
}

.data-box {
  width: 700px;
  border: 1px solid #ccc;
}
.data-box .list {
  margin: 0;
}
.data-box li:last-child {
  border: none;
}
.data-box .check-list label {
  margin: 0;
}
.data-box .check-list span {
  font-size: 14px;
}

.box-list {
  overflow: hidden;
}
.box-list li {
  margin: 0 8px 10px 0;
  border: 2px solid #ccc;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.box-list li:hover {
  border: 2px solid #1781bb;
}
.box-list li:hover p {
  background: #1781bb;
}
.box-list li:hover .del {
  display: block;
}
.box-list li.act {
  border: 2px solid #1781bb;
}
.box-list li.act p {
  background: #1781bb;
}
.box-list li.act .del {
  display: block;
}
.box-list img {
  display: block;
}
.box-list a {
  width: 120px;
  display: block;
}
.box-list a img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.box-list p {
  color: #fff;
  text-align: center;
  width: 100%;
  background: #999;
  height: 25px;
  line-height: 25px;
  transition: 0.2s;
}

.del {
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 30px;
  height: 30px;
  background: #1781bb;
  line-height: 29px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
  cursor: pointer;
}

.photo-list {
  margin: 0 0 10px;
}
.photo-list li {
  width: 200px;
  border: 1px solid #ccc;
  padding: 5px;
  background: #eee;
  margin: 0 10px 10px 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: 0.3;
}
.photo-list li:hover {
  border: 1px solid #1781bb;
}
.photo-list a {
  width: 100%;
  display: inline-block;
  position: relative;
}
.photo-list img {
  width: 100%;
  display: block;
}
.photo-list p {
  text-align: center;
  padding: 5px 0 0;
}

.del-photo {
  width: 21px;
  height: 21px;
  background: url(../img/backend_img/pic_del.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
}

.search-box {
  text-align: left;
  background: #f2f2f2;
  border: 1px solid #d0d0d0;
  padding: 8px 0 0;
  margin: 0 0 10px;
}
.search-box .btn-area {
  background: #e5e5e5;
  padding: 10px 0 8px 8px;
  border-top: 1px solid #ccc;
}

.search-ui-box {
  margin: 0 12px 8px 8px;
  display: inline-block;
  vertical-align: middle;
}
.search-ui-box label {
  display: inline-block;
  vertical-align: middle;
}
.search-ui-box span {
  display: inline-block;
  vertical-align: middle;
}

.search-signle {
  text-align: left;
  background: #eee;
  border: 1px solid #ddd;
  padding: 8px 0 0;
  margin: 0 0 10px;
}
.search-signle .search-ui-box {
  margin: 0 5px 8px 8px;
}
.search-signle .btn-area {
  padding: 0;
  margin: 0 0 8px;
  display: inline-block;
  vertical-align: middle;
}

.group-box-70, .group-box-83, .group-box-85, .group-box-100 {
  padding: 10px 0;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.group-box-15 {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-70 {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-83 {
  width: 83%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-85 {
  width: 85%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-100 {
  width: 100%;
}

.box-5 {
  width: 5%;
}

.box-8 {
  width: 8%;
}

.box-10 {
  width: 10%;
}

.box-12 {
  width: 12%;
}

.box-14 {
  width: 14%;
}

.box-15 {
  width: 15%;
}

.box-16 {
  width: 16%;
}

.box-20 {
  width: 20%;
}

.box-25 {
  width: 25%;
}

.box-30 {
  width: 30%;
}

.box-35 {
  width: 35%;
}

.box-40 {
  width: 40%;
}

.box-45 {
  width: 45%;
}

.box-50 {
  width: 50%;
}

.box-55 {
  width: 55%;
}

.box-60 {
  width: 60%;
}

.box-65 {
  width: 65%;
}

.box-70 {
  width: 70%;
}

.box-75 {
  width: 75%;
}

.box-80 {
  width: 80%;
}

.box-85 {
  width: 85%;
}

.box-90 {
  width: 90%;
}

.box-95 {
  width: 95%;
}

.box-5, .box-8, .box-10, .box-12, .box-14, .box-15, .box-16, .box-20, .box-25, .box-30, .box-35, .box-40, .box-45, .box-50, .box-55, .box-60, .box-65, .box-70, .box-75, .box-80, .box-85, .box-90, .box-95 {
  word-wrap: break-word;
  padding: 0 0.5%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.pad-u-d-10 {
  padding: 10px 0;
}

.opera {
  text-align: center;
}
.opera i {
  font-size: 15px;
  color: #999;
  margin: 0 8px 0 0;
}
.opera i:hover, .opera i.act {
  color: #1781bb;
}

.upload-pic {
  display: none;
}

.upload-img-box {
  width: 150px;
  height: 150px;
}
.upload-img-box label.error {
  position: absolute;
  top: 4px;
  left: 8px;
  z-index: 1;
}

.head-box {
  width: 200px;
  height: 200px;
}
.head-box label.error {
  position: absolute;
  top: 4px;
  left: 8px;
  z-index: 1;
}

.upload-box-sty {
  border: 1px solid #ccc;
  padding: 5px;
  background: #eee url(../img/backend_img/upload.png) center no-repeat;
  transition: 0.3s;
}
.upload-box-sty:hover {
  border: 1px solid #1781bb;
}

.upload-click-area {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.upload-click-area img {
  width: 100%;
  height: 100%;
}

.upload-form-file {
  width: 100%;
  height: 40p;
}
.upload-form-file input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: alpha(opacity=0);
  cursor: pointer;
}

.form-file {
  text-align: center;
  font-size: 16px;
  text-shadow: 0 1px 1px #111;
  color: #fff;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background: #1781bb;
  margin: 0 10px 0 0;
  display: inline-block;
  position: relative;
  transition: background 0.2s;
}
.form-file:hover {
  background: #11628e;
}

.file-name {
  color: #1781bb;
  margin: 10px 0;
}

.form-file label {
  margin: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  right: -129px;
}

.pagination {
  margin: 20px auto 100px;
}

.pagination-numbers {
  display: flex;
  justify-content: center;
}
.pagination-numbers a {
  color: #666;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.59);
  font-size: 13px;
  display: inline-block;
  position: relative;
  margin: 0px 5px;
  width: auto;
  height: auto;
  background: #ececec;
  padding: 6px 10px;
  border: 1px solid #d8d8d8;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.027), inset 0px 1px 0px rgba(255, 255, 255, 0.69), inset 0px -1px 0px rgba(0, 0, 0, 0.0187), inset 0px 14px 13px rgba(255, 255, 255, 0.57);
  transition: 0.3s;
}
.pagination-numbers a:hover {
  color: #888;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.69);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -14px 13px rgba(255, 255, 255, 0.2);
}
.pagination-numbers a.act {
  color: #696969;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
  border: 1px solid #d2d2d2;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -14px 13px rgba(255, 255, 255, 0.2);
}

.no-data {
  color: #999;
  padding: 10px 10px 20px;
}

li.no-data {
  padding: 5px 10px;
}

.input-box .tag-src-area label {
  display: inline-block;
}

.tag-src-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-src-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tag-input {
  border: 1px solid #d0d0d0;
  padding: 3px 5px;
  background: rgba(238, 238, 238, 0.7);
}

.tag-btn {
  color: #fff;
  padding: 3px 6px;
  margin: 0 3px;
  border-radius: 2px;
  background: #999;
  cursor: pointer;
}
.tag-btn:hover {
  background: gray;
}

.tag-btn.src {
  background: #1781bb;
}
.tag-btn.src:hover {
  background: #11628e;
}

.tt-hint {
  color: #999;
}

.tt-menu {
  width: 100%;
  max-height: 120px;
  padding: 3px;
  border: 1px solid #999;
  background: #fff;
  box-sizing: border-box;
  overflow: scroll;
}

.tt-suggestion {
  padding: 0 3px;
  cursor: pointer;
}
.tt-suggestion:hover {
  color: #fff;
  background: #1781bb;
}

.size-box .check-list label {
  width: 90px;
  box-sizing: border-box;
}

.size-group {
  width: 80px;
  display: inline-block;
  vertical-align: top;
}

.list-btn {
  color: #1781bb;
  padding: 3px 5px;
  border: 1px solid #1781bb;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
}

.tit-btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-box {
  display: inline-block;
  vertical-align: middle;
}
.status-box label {
  color: #999;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 3px 5px;
}

.status-doing input[type=radio]:checked + label {
  color: #fff;
  border: 1px solid #29bdea;
  background: #29bdea;
}

.status-stop input[type=radio]:checked + label {
  color: #fff;
  border: 1px solid #f45353;
  background: #f45353;
}

.status-fine input[type=radio]:checked + label {
  color: #fff;
  border: 1px solid #52c150;
  background: #52c150;
}

.list-tit {
  margin: 0;
}

.no-data-txt {
  color: #999;
  text-align: center;
  padding: 10px 5px;
}
